.page-header .title {
	font-size: 2.666em;
	font-weight: 400;
}

.page-header .identity {
	font-size: 1.3em;
	right: 59px;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.page-header .login {
	right: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.page-header .login button {
	font-size: 1.5em;
	width: 2em;
	height: 2em;
	border-radius: 9999px;
	padding: 0;
}

.main-container {
	margin-top: -1px;
	padding-top: 60px;
	padding-bottom: 90px;
}

.buttons-on-the-right-side {
	text-align: right;
	margin-bottom: 10px;
}

.buttons-on-the-right-side>.btn:not(:first-child) {
	margin-left: 5px;
}
