textarea.code {
	border-radius: 0;
	border: 1px solid #ccc;
	box-shadow: none;
	font-family: "Andale Mono", monospace !important;
	font-size: smaller;
	font-color: #333333;
	resize: vertical;
	-webkit-tab-size: 4;
	   -moz-tab-size: 4;
	     -o-tab-size: 4;
	        tab-size: 4;
}

.main-container {
	margin-top: -1px;
	padding-top: 60px;
	padding-bottom: 90px;
}

.buttons-on-the-right-side {
	text-align: right;
	margin-bottom: 10px;
}

.buttons-on-the-right-side>.btn:not(:first-child) {
	margin-left: 5px;
}

.buttons-on-the-left-side {
	text-align: left;
	margin-bottom: 10px;
}

.buttons-on-the-left-side>.btn:not(:last-child) {
	margin-right: 5px;
}

.modal-header>button.close {
	font-size: 100%;
}

.bar-on-top {
	position: fixed;
	width: 100%;
	height: 4px;
	z-index: 999;
	margin-bottom: 0px;
	overflow: hidden;
	border-radius: 0px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background-color: transparent;
}

.piled-menu {
	margin-bottom: 40px;
}

#site_brand {
	display: inline-block;
	margin: -7px 0px;
	padding: 7px 6px;
	color: #fff;
	background-color: #ebb814;
	border-radius: 4px;
	font-weight: bold;
}
